<?php

$finder = PhpCsFixer\Finder::create()
    ->ignoreDotFiles(false)
    ->ignoreVCS(true)
    ->exclude([
        'vendor',
    ])
    ->in(__DIR__ . '/src')
;
$rules = [
    '@Symfony' => true,
    'new_with_braces' => false,
    'phpdoc_inline_tag' => false,
    'single_import_per_statement' => false,
    'concat_space' => ['spacing' => 'one'],
    'array_syntax' => ['syntax' => 'short'],
];

if (class_exists('\\PhpCsFixer\\Fixer\\ControlStructure\\YodaStyleFixer')) {
    $rules['yoda_style'] = false;
}
return PhpCsFixer\Config::create()->setRules($rules)->setFinder($finder);
